@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// color variables
$black: #202020;
$blacker: #161616;
$blackerTransparent: #080808c5;
$gradient: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(62,62,62,1) 85%, rgba(70,70,70,1) 100%);
$grayless: #6d6d6d;
$grayTransparent: #6d6d6d34;
$gray: #4e4e4e;
$green: #1db954;
$white: #f1f1f1;


// z-index variables
$zindex-under: -5;
$zindex-default: 1;
$zindex-footer: 10;
$zindex-header: 30;
$zindex-overlay: 40;

